.about-us{background-color: rgba(84, 113, 154, 0.5);
    padding: 13px;
    align-items: center;
    flex-basis: 300px;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    margin: 10px 10px; 
    display:flex;
    flex-direction: column; 
    flex-grow: 1;}

.flexbox{display: flex;
flex-wrap: wrap;
}

